## For Loop review

One way you can write for loops is to explicitely list the things that you want to iterate over

In [1]:
# you can list them in a python "list" 
total = 0
for item in [1, 3, 5]:
    total = total + item
print(total)

9

In [2]:
# you can do that by listing as a "tuple":
total = 0
for num in (-22.0, 3.5, 8.1, -10, 0.5):  
    print("Looking at element", num)
    if num > 0:
        total = total + num
print("sum is ", total)

Looking at element -22.0
Looking at element 3.5
Looking at element 8.1
Looking at element -10
Looking at element 0.5
sum is  12.1

In [3]:
# OR you can do that by listing as a "tuple": (the parentheses in a tuple are optional, but usually included)
total = 0
for num in -22.0, 3.5, 8.1, -10, 0.5:  
    print("Looking at element", num)
    if num > 0:
        total = total + num
print("sum is ", total)

Looking at element -22.0
Looking at element 3.5
Looking at element 8.1
Looking at element -10
Looking at element 0.5
sum is  12.1

In [4]:
# or even as a string
for letter in "abcdefghij":
    if letter in "aeiou":
        print("this is a vowel", letter)

this is a vowel a
this is a vowel e
this is a vowel i

# Or you can use a function that CREATES a list of elements to iterate over

In [8]:
# we've been using range() for this.  Here's a reminder of how it works...

# with just one argument, it runs from 0 through (but not all to way to) the argument you specify
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
# with 2 arguments, you can specify both the LOWER and UPPER limit
for x in range(2,5):
    print(x)

2
3
4

In [10]:
# remember that, by default, the "step" is +1, this this doesn't loop at all:
for x in range(5,2):
    print(x)

In [11]:
# but if you specify a negative STEP, it will:
# remember that, by default, the "step" is +1, this this doesn't loop at all:
for x in range(10,2,-1):
    print(x)

10
9
8
7
6
5
4
3

## using for loops with lists

In [26]:
# a simple Python list has elements that can be any type
cars = ["Ford", "Volvo", "BMW", "Toyota", "Tesla", "GM", "Pontiac"] 
for car in cars:
    print(car)

Ford
Volvo
BMW
Toyota
Tesla
GM
Pontiac

In [27]:
# or we can do it the old fashioned way...
cars = ["Ford", "Volvo", "BMW", "Toyota", "Tesla", "GM", "Pontiac"] 
print("length: " , len(cars))
for car in range(len(cars)):
    print(car)
    print(cars[car])
# how would you print them in REVERSE!!!!

length:  7
0
Ford
1
Volvo
2
BMW
3
Toyota
4
Tesla
5
GM
6
Pontiac

## To do more mathematical things, we usually use numpy

In [39]:
 import numpy as np
ROW_COUNT = 6
COLUMN_COUNT=7
testboard = np.zeros((ROW_COUNT,COLUMN_COUNT))
testboard = \
        [[0, 0, 0, 0, 0, 0, 0],
         [0, 0, 0, 2, 2, 2, 2],
         [0, 1, 1, 0, 0, 0, 0],
         [0, 1, 0, 1, 0, 0, 0],
         [0, 1, 0, 0, 1, 0, 0],
         [0, 1, 0, 0, 0, 1, 0]]
print(testboard)
print(testboard[0].count(1))
print(testboard[1].count(1))
print(testboard[2].count(1))
print(testboard[3].count(1))

[[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 2, 2, 2, 2], [0, 1, 1, 0, 0, 0, 0], [0, 1, 0, 1, 0, 0, 0], [0, 1, 0, 0, 1, 0, 0], [0, 1, 0, 0, 0, 1, 0]]
0
0
2
2

In [47]:
#
# class exercise : 
testboard = np.array([1,2,3,4,5,6,7,8])
print(testboard.max())
print(testboard.min())
#
# write a function called arr_average() to computer the average value

8
1

In [51]:
def arr_average(arr):

In [52]:
# and test it!
testboard = np.array([1,2,3,4,5,6,7,8])
arr_average(testboard)

1
2
3
4
5
6
7
8

In [56]:
#
# class exercise
# how many of the 2d array's neighbors at x,y have the same value???
#
def neighbors(arr2d,x,y):
        return(0)

In [58]:
ROW_COUNT = 6
COLUMN_COUNT=7
testboard = np.zeros((ROW_COUNT,COLUMN_COUNT))
testboard = \
        [[0, 0, 0, 0, 0, 0, 0],
         [0, 0, 0, 2, 2, 2, 2],
         [0, 1, 1, 0, 0, 0, 0],
         [0, 1, 0, 1, 0, 0, 0],
         [0, 1, 0, 0, 1, 0, 0],
         [0, 1, 0, 0, 0, 1, 0]]
print(neighbors(testboard,2,3))

0