<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Strings/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Strings from Scratch !!

## Let us understand the fundamentals of strings in python.

![alt text](https://www.gangboard.com/blog/wp-content/uploads/2019/05/Strings-in-Python.jpg)

Strings are a sequence of characters which can be stored either as a constant or a different variable. Strings are considered as a datatype. Typically, programmers must enclose strings in quotation marks for the data to recognized as a string and not a number or variable name. Shown below are some of the most used string methods on a daily basis and are one of the most commonly asked interview questions.

### For example, declaring a string in python:

In [56]:
# Declaring a string variable
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [57]:
print(type(string))

<class 'str'>



---

## 1. Escape sequence  in python using strings

In Python strings, the backslash " " is a special character, also called the "escape" character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a new line, and "\r" is a carriage return. Finally, " " can be used to escape itself: "\" is the literal backslash character.

In [58]:
# THis is an escape sequence.
string = "This is a \"Google Colab\" python notebook"
print(string)

This is a "Google Colab" python notebook



---

## 2. Accessing the String by an Index

Strings can be accessed by their index in order to get the value. To do this all you have to do is just place the number (index value) inside the pair of square brackets along with the name of the string.

In [59]:
string = "Python"
print(string[2])

t

In [60]:
print(string[5])

n



---

## 3. Slicing a string

Slicing a string helps to get a set of characters from a string. This is really helpful when we want to access a particular set of characters in a string. Below are some slicing variants that are useful.

In [61]:
string = "programming"
string

'programming'

**Getting  one character of the string**

In [62]:
print(string[0:1])

p

**Getting the first three characters from the string**

In [63]:
print(string[0:3])

pro

**Getting the first three characters from the string (Alternate)**

In [64]:
print(string[:3])

pro

**Getting the last three characters from the string**

In [65]:
print(string[-3:])

ing

**Getting all characters but excluding three first characters from the string**

In [66]:
print(string[3:])

gramming

**Getting all characters but excluding the last three characters from the string**

In [67]:
print(string[:-3])

programm

**Reversing all the characters in a given string**

In [68]:
print(string[::-1])

gnimmargorp

**Alternative to printing all characters in a string**

In [69]:
print(string[::])

programming



---

**4. Splitting a string**

Sometimes splitting a string is a handy option because it is one of the easiest ways to convert a string into a list. I know I have not spoken about the list but keep in mind that split converts a string into a list. You can find the material on Python Lists that is written by me which can provide enough idea to master python lists [Python Lists](https://towardsdatascience.com/python-lists-from-scratch-4b958eb956fc)

In [70]:
String = "Computer Programming"
String

'Computer Programming'

In [71]:
type(String)

str

In [72]:
list = String.split()
list

['Computer', 'Programming']

In [73]:
type(list)

list



---

## 5. Replacing a string

The Replace function in python is one of the best function that can be applied to strings. For example, shown below is a string "Money" we need to replace the dollar and the comma sign and this can be done as shown below.

In [78]:
Money = '$113,678'
print(Money)
print("===========================")
print(type(Money))

$113,678
===========================
<class 'str'>

In [80]:
Money = Money.replace('$', '')
Money

'113,678'

In [82]:
Money = Money.replace(',', '')
Money

'113678'

In [83]:
Money = int(Money)
print(Money)
print("===========================")
print(type(Money))

113678
===========================
<class 'int'>



---

## 6. Join

The join function is python is used to join the string according to the specified pattern.

In [84]:
String = "Python Programming is fun"
String

'Python Programming is fun'

In [85]:
String = "_".join(String)
String

'P_y_t_h_o_n_ _P_r_o_g_r_a_m_m_i_n_g_ _i_s_ _f_u_n'



---

## 7. Capitalize

The capitalize function capitalizes the first character in the word or a string.

In [86]:
string = "programming"
string

'programming'

In [87]:
string = string.capitalize()
string

'Programming'



---

## 8. Center

The center method returns a string which is padded with the specified character.

In [88]:
string = "python"
string

'python'

In [91]:
print(string.center(15, '_'))

_____python____



---

## 9. Find

The find method returns the index of the given substring position. If the value is not found it returns, -1.

In [92]:
string = "programming"
string

'programming'

In [97]:
print(string.find('mmx'))

-1

In [94]:
print(string.find('t'))

-1



---

## 10. Strip

The strip function strips or removes the white spaces both from the starting and the ending of a string.

In [98]:
string = "     programming is easy    "
string

'     programming is easy    '

In [99]:
print(string.strip())

programming is easy



---

Hence above are the very important techniques or functions of Strings in Python. Some of the examples were referred from [Python Strings](https://www.gangboard.com/blog/python-string/). I have written this tutorial in a simple way such that everybody can understand and master the concepts of Strings in Python without prior programming knowledge or experience.

## Thank you

In [100]:
string1 = "Shawn"
string2 = "Ostermann"
print(string1)
print(string2)

Shawn
Ostermann

In [111]:
string = string1 + " David " + string2
print(string)
allnames = string.split()
print(allnames)
print(allnames[1])
print(allnames[0][0]+allnames[1][0]+allnames[2][0])

Shawn David Ostermann
['Shawn', 'David', 'Ostermann']
David
SDO

In [112]:
print(len(string1))

5

Now, reverse the string to be "lastname, firstname"!!!!

In [116]:
print(allnames[2] + ", " + allnames[0])

Ostermann, Shawn

In [119]:
people = ["julie", "fred","shawn"]
print(people)

['julie', 'fred', 'shawn']

In [130]:
print("a11" > "a12")

False

In [139]:
people = ["1", "2", "3"]
print(people)

['1', '2', '3']

In [134]:
if (people[0] < people[1]):
    print(people[0])
else:
    print(people[1])

fred

In [140]:
if (people[0] < people[1]):
    if (people[0] < people[2]):
        if (people[1] < people[2]):
            print(people[2])
        else:
            print(people[1]) 
    else:
        print(people[0])

3